<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alleat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllEat">
        <activity
            android:name=".MainActivity3FoodMenu"
            android:exported="false" />
        <activity
            android:name=".SecondScreen"
            android:exported="false" />
        <activity
            android:name=".SecondScreenForRes"
            android:exported="false" />
        <activity
            android:name=".CustomerSide.SignIn"
            android:exported="false" />
        <activity
            android:name=".RestaurantSide.SignInForRes"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.AllEat.NoActionBar" />
        <activity
            android:name=".RestaurantSide.Restaurant"
            android:exported="true" />
        <activity
            android:name=".CustomerSide.LoginPage"
            android:exported="true" />
        <activity
            android:name=".RestaurantSide.RegPageRes"
            android:exported="true" />
        <activity
            android:name=".RestaurantSide.AddItemToMENU"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>